.vs/
DB/
Setup/
descktop/bin/
descktop/obj/
descktop/Properties/
descktop/publish/
descktop/descktop_TemporaryKey.pfx
descktop/Resources/Icon.ico
descktop/Resources/Icon.png
descktop/Resources/Logo.jpg