<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DBFile" value="\DB\CentralDeAfiacaoDB.mdb" />
    <add key="Resources" value="\\Resources\\" />
    <add key="Tables" value="TB_CA_Categorias_ctg;TB_CA_Clientes_cli;TB_CA_Condicao_con;TB_CA_Dividas_div;TB_CA_Empresas_emp;TB_CA_Frete_frt;TB_CA_ItensPedido_itp;TB_CA_ParcelaDividas_par;TB_CA_Pedidos_ped;TB_CA_Produtos_prd;TB_CA_TipoDivida_tdv;TB_CA_Usuarios_usu"/>
  </appSettings>
</configuration>